<form action="/oauth/token" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="username" value="joe" />
    <input type="hidden" name="password" value="password" />
    
    <input type="hidden" name="grant_type" value="password" />
    <input type="hidden" name="client_id" value="s6BhdRkqt3" />
    <input type="hidden" name="client_secret" value="8sdg578sd5g78sd5g8" />
    
    <input type="submit" value="Submit" />
</form>